:root {

  /* COLORS */

  --blue: #4A69E2;
  --yellow: #FFA52F;
  --white: #FFF;
  --fa--white: #FAFAFA;
  --gray: #E7E7E3;
  --gray-main: #70706E;
  --dark-gray: #232321;
  --neutrals-gray-2: #D2D1D3;
  --neutrals-gray-5: #8F8C91;
  --neutrals-gray-9: #36323B;

  /* TYPOGRAPHY */

  --fs-h1: 4.8rem;
  --fs-h2: 3.6rem;
  --fs-h3: 3.2rem;
  --fs-h4: 2.4rem;
  --fs-h5: 2rem;
  --fs-h8: 1.6rem;
  --fs-h9: 1.4rem;
  --fs-h10: 1.2rem;

  --fs-1: 4rem;
  --fs-2: 3.6rem;
  --fs-3: 3.2rem;
  --fs-4: 2.4rem;
  --fs-5: 2rem;
  --fs-6: 1.6rem;
  --fs-7: 1.4rem;
  --fs-8: 1.2rem;
  --fs-9: 1rem;
}

/* RESET */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font: inherit;
}

html{
  font-size:62.5%;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: var(--gray);
}

a {
  color: inherit;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

button {
  background: none;
  font: inherit;
  border: none;
  cursor: pointer;
}

input {
  font: inherit;
}

input::placeholder { font: inherit; }

.wrapper{
  max-width: 1920px;
}

.green{
  background-color: #234D41;
}

.blue{
  background-color: #4A69E2;
}

.yellow{
  background-color: #FFA52F;
}

.black{
  background-color: #232321;
}

.jet{
  background-color: #353336;
}

.orange{
  background-color: #F08155;
}

.gray{
  background-color: #C9CCC6;
}

.metal{
  background-color: #677282;
}

.brown{
  background-color: #925513;
}

.wood{
  background-color: #BB8056;
}


/* CAROUSEL */


.carousel-root .carousel .thumbs-wrapper{
  margin: 0;
  margin-top: 24px;
}

.carousel-root .carousel .thumbs-wrapper .thumb{
  width: 86px !important;
  height: 86px;
  border: 0;
  border-radius: 8px;
}

.carousel-root .carousel .thumbs-wrapper .thumb img{
  border-radius: 8px;
}

.carousel-root .carousel.carousel-slider .control-dots .dot{
  background: var(--dark-gray);
  opacity: 0.4;
  box-shadow: none;
}

.carousel-root .carousel.carousel-slider .control-dots .dot.dot.selected{
  background: var(--blue);
  opacity: 1;
}

.carousel-root .carousel.carousel-slider .slider-wrapper ul li img{
  border-radius: 16px;
}

@media screen and (max-width: 568px){
  .carousel-root .carousel .thumbs-wrapper .thumb{
    width: 72px !important;
    height: 72px;
    border: 0;
    border-radius: 8px;
  }
}

@media screen and (max-width: 480px){
  .carousel-root .carousel .thumbs-wrapper .thumb{
    width: 64px !important;
    height: 64px;
    border: 0;
    border-radius: 8px;
  }
}

/* SLIDER */

.css-eg0mwd-MuiSlider-thumb{
  color: var(--blue);
}

.css-14pt78w-MuiSlider-rail{
  color: #000;
  opacity: 1;
}

.stopScroll{
  overflow-y: hidden;
  height: 100%;
}